*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-blue: #0b041a;
    --bg-softblue: #10072a;
    --bg-very-softblue: #1e143e;
    --text-white: #fafafa;
    --button-purple: #411d79;
    --button-hover-purple: #55279f;
    --button-mag: #9f057b;
    --button-hover-mag: #c40798;
    --button-delete: #ff0246;
    --button-view: #3e15c5;
    --button-edit: #8d42c2;

}

body {
    font-family: "Alef", sans-serif;
    background-color: var(--bg-blue);
    color: var(--text-white);
}

.container{
    width: 90% !important;
    padding: 0;
}

.row>*{
    padding: 0;
}


/*TYPOGRAPHY*/

.fs-18{
    font-size: 18px;
}




.cat_title{
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
}


/*SCROLLBARS*/
::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--button-mag);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--button-hover-mag); 
  }



  .original-scrollable-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    height: 200px;
    overflow: auto;
}


  /*INPUTS*/

input {
    background-color: var(--bg-very-softblue) !important;
    border-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
}

input:focus {
    background-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
    border-color: var(--bg-very-softblue) !important;
    box-shadow: 0 0 0 0.25rem var(--button-hover-purple) !important;

}

/*BUTTONS*/

button {
    background-color: var(--button-purple) !important;
    border-color: var(--button-purple) !important;
    color: var(--text-white) !important;
    /*margin: 1.5rem 0;*/
}

button:hover {
    background-color: var(--button-hover-purple) !important;
    border-color: var(--button-hover-purple) !important;
}

/*TEXTAREA*/
textarea {
    background-color: var(--bg-very-softblue) !important;
    border-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
}

textarea:focus {
    background-color: var(--bg-very-softblue) !important;
    color: var(--text-white) !important;
    border-color: var(--bg-very-softblue) !important;
    box-shadow: 0 0 0 0.15rem var(--button-hover-purple) !important;
}

/*OFFCANVAS*/

.offcanvas {
    background-color: var(--bg-softblue) !important;
    color: var(--text-white);
}



